/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 h3.headerz{
   color: black !important;
 }
.blog{
  color: white;
  text-align: center;
  margin-top: 250px;
}
 .card-panel {
     transition: box-shadow .25s;
     padding: 20px;
     margin: 0.5rem 0 1rem 0;
     border-radius: 2px;
     background-color: none;
     text-align: center;

 }




span.white-text{
  font-size: 50px;
  text-align: center;
}
 h3.headerz{
   color: white;
 }

.parallax.background{
  margin-top: 145px;
}
.headerz{
  text-align: center;
}

 .row .col.s12 {
     width: 100%;
     margin-left: auto;
     left: auto;
     right: auto;
 }

.btn-large waves-effect waves-light teal lighten-1{
  margin-right: 13px;
}

div.row.center{
  margin-top: -25px;
}


.erick{
  margin-top: 130px;
}
 .fa-github:before {
     content: "\f09b";
     margin-right: 13px;
 }


 .teal.lighten-1 {
     background-color: white !important;
 }

 .btn-large {
     color: black;
     background-color: #26a69a;
     text-align: center;
     letter-spacing: .5px;
     transition: .2s ease-out;
     cursor: pointer;
     text-transform: initial;
 }


 .teal-text.text-lighten-2 {
    color: #fff !important;
}

 .parallax-container {
   background: linear-gradient(
     rgba(0,0,0,.35),
     rgba(0,0,0,0.35)
     )
 }

 .fa-facebook-f:before, .fa-facebook:before {
   padding-right: 20px;
 }

 .fa-twitter:before {
   padding-right: 20px;
 }

 .fa-linkedin:before {
   padding-right: 20px;
 }

 .logoz {
   display: inline-flex;
   font-size: 1.75em;
 }


nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: white;
}

.home {
  min-height: 726px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 415px) {
  .parallax-container .section {
    top: 20%;
  }
  #index-banner .section {
    top: 10%;
  }
  .row .col.s6 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  #nav-mobile {
    background-color: none !important;
  }
  .home {
    min-height: 581px;
  }
  .blog {

  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax img {
  left:50%!important;
  width:100%!important;
}
