<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>George Rodriguez</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="index-banner" class="parallax-container home">
    <nav class="" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">GSR</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#projects">Projects</a></li>
          <li><a href="#aboutme">What I'm doing</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#projects">Projects</a></li>
          <li><a href="#aboutme">About Me</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div class="erick">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">George Rodriguez</h1>
        <div class="row center">
          <h5 class="header col s12 light">Full-Stack Developer</h5>
          <h5 class="header col s12 light">GeorgeSebastian2593@gmail.com</h5>
        </div>
        <div class="row center">
          <ul class="logoz">
            <li><a href="https://www.linkedin.com/in/george-rodriguez-2204a4128"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/Gboogie"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="row center">
          <a href="JrDevGeorgeRodriguez.pdf" download="JrDevGeorgeRodriguez.pdf" class="btn-large waves-effect waves-light teal lighten-1">Download Resume</a>
        </div>
        <br><br>
      </div>
      </div>
    </div>
    <div class="parallax background"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <a name="projects"> </a>
  <div class="row">
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="wynbucket2.png">

            </div>
            <!-- <span class="card-title">WynBucket</span> -->
            <div class="card-content">
              <p>WynBucket is a picturing sharing web-app for PNG images. No better place to store and share your favorite PNG images</p>
            </div>
            <div class="card-action">
              <a href="https://wynbucket.herokuapp.com/">WynBucket</a>
            </div>
          </div>
        </div>
        <div class="col s6 m6" >
          <div class="card">
            <div class="card-image">
              <img id="litpic" src="LitPort4.png">
            </div>
            <!-- <span class="card-title">Lit</span> -->

            <div class="card-content">
            <p> Lit is a real time venue rater. Lit solves the commanly asked question "Where are we going out tonight"</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/Gboogie">Lit</a>
            </div>
          </div>
        </div>
      </div>


      <a name="aboutme"> </a>
      <div id="index-banner" class="parallax-container">
<h4 class="blog"> Im currently simulating working in a dev enviorment with fellow Wyncode graduates</h4>
      <div class="parallax"><img src="aboutme.jpg" alt="group"></div>
      </div>
  <!--  Scripts-->
  <script src="https://use.fontawesome.com/ee207c30d3.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>
</html>
